@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.anticon svg {
		vertical-align: baseline !important;
	}
	html,
	body {
		@apply bg-light dark:!bg-dark;
	}
	*::selection {
		@apply bg-theme-light/20 text-theme-light-deep dark:bg-theme-dark-light/20 dark:text-blue-400;
	}
	article {
		@apply space-y-4 text-gray-700 dark:text-gray-300;
	}
	#root {
		@apply min-h-screen bg-light dark:bg-dark-deep transition-colors;
	}

	.label-custom {
		@apply mt-2 mb-1 inline-block;
	}
	.main {
		width: calc(100vw - 14rem);
	}
}

* {
	scroll-behavior: smooth;
}

.bg-login {
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	backdrop-filter: blur(8px);
}
.bg-login-light {
	background-size: 640px;
  background-repeat: repeat;
	background-image: url(./assets/images/illustrations/bg.png);
}

.bg-login-dark {
	background-image: url(https://cdn.jsdelivr.net/gh/sakurawen/jsDeliver/dark.jpg);
}

@layer utilities {
	.h-content {
		content: attr(placeholder);
	}
	.h-edit-mobile-editor {
		height: calc(100vh - 10.5rem);
	}
	.h-edit-pc-editor {
		height: calc(100vh - 5.5rem);
	}
	.h-mobile-editor {
		height: calc(100vh - 6.5rem);
	}
	.h-pc-editor {
		height: calc(100vh - 1.5rem);
	}
	.h-edit-editor {
		@apply h-edit-mobile-editor sm:h-edit-pc-editor;
	}
	.h-editor {
		@apply h-mobile-editor sm:h-pc-editor;
	}
	.bg-blur {
		@apply bg-opacity-100;
	}

	@supports (backdrop-filter: blur(20px)) {
		.bg-blur {
			@apply backdrop-blur !bg-opacity-80 dark:!bg-opacity-75;
		}
	}
}
